body {
    text-align: center;
  }

nav {
     text-align: center;
     padding-left: 3%;
 }

 #main_title {
     font-size: medium;
     font-weight: bold;
 }

 #main_nav {
    background-color: rgb(112, 112, 112);
}

#main_image {
    padding-top: 15%;
    width: 30%;
    height: auto;
}

#model_of_affect {
    padding-top: 10%;
    height: auto;
    width: 95%;
}

