body {
    text-align: center;
  }

nav {
     text-align: center;
     padding-left: 3%;
 }

 #main_title {
     font-size: medium;
     font-weight: bold;
 }

 #main_nav {
    background-color: rgb(112, 112, 112);
}

#model_of_affect {
    padding-top: 10%;
    height: auto;
    width: 95%;
}

#how_button {
    margin-top: 10%;
    margin-right: 5px;
    background-color: rgb(116, 164, 253);
}

#modal_header {
    font-size: medium;
}

.modal_text {
    font-size: small;
    color: darkgray;
}