
nav {
     text-align: center;
     padding-left: 3%;
 }

 #main_title {
     font-size: medium;
     font-weight: bold;
 }

 #main_nav {
    background-color: rgb(112, 112, 112);
}

#how_button {
    margin-top: 2%;
}

.modal_header {
    font-size: large;
}

.modal_text {
    font-size: medium;
    color: darkgray;
}

#toast-container {
    width: 80% !important;
    top: auto !important;
    right: auto !important;
    bottom: 40%;
    left: 15%;
    opacity: .85;
  }

#info_button {
    color: #26a69a;
}
